.components-Audition {
    height:100vh;
    overflow:hidden;
    background-image: radial-gradient(rgb(190, 168, 63), rgb(216, 158, 87), rgb(236, 151, 105));
}
#container .element {
    width     : 100px;
    height    : 100px;
    text-align: center;
    cursor    : pointer;

    &:hover {
        box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.75);
        border    : 1px solid rgba(127, 255, 255, 0.75);
    }

    & img {
        width : 100px;
        height: 100px;
    }

    /* & .number {
        position : absolute;
        top      : 20px;
        right    : 20px;
        font-size: 12px;
        color    : rgba(127, 255, 255, 0.75);
    }

    & .symbol {
        position   : absolute;
        top        : 40px;
        left       : 0px;
        right      : 0px;
        font-size  : 60px;
        font-weight: bold;
        color      : rgba(255, 255, 255, 0.75);
        text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
    }

    & .details {
        position : absolute;
        bottom   : 15px;
        left     : 0px;
        right    : 0px;
        font-size: 12px;
        color    : rgba(127, 255, 255, 0.75);
    } */

}